.detail-container{
    margin:auto;
    display:block;
    width:80%;
    font-size:12px;
}
.table{
    width:100%;
    margin:20px;
}
.row{
    display:table-row;
    width:auto;
}
.cell{
    display:table-cell;
    padding:8px;
    width:25%;
    box-sizing:border-box;
}
.bgrowgray{
    background-color:#edeff2;
    border-top:1px solid #71757c;
    border-bottom:1px solid #71757c;
}
.bgbold{
    font-weight:bold;
}
.text-center{
    text-align:left;
}
.width40{
    width:40%
}